body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

#title-index{
    padding-left: 15.5cm;
    padding-top: 1.5cm;
    position: fixed;
    overflow: auto;
}

#title-register{
    padding-left: 15.5cm;
    padding-top: 1cm;
    position: fixed;
    overflow: auto;
}

#form-div-index{
    padding-left: 15.5cm;
    padding-top: 5cm;
    position: fixed;
    overflow: auto;
}

#form-div-register{
    padding-left: 15.5cm;
    padding-top: 5cm;
    position: fixed;
    overflow: auto;
}

#form-sbm-btn{
    position: fixed;
}

#sign-user-btn{
    margin-left: 15.5cm;
    margin-top: 7cm;
    position: fixed;
    overflow: auto;
}