{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
    <h1 class="display-4" style="text-align: center;">Horarios disponibles para reserva</h1>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <label for="firstform" class="display-4" style="margin-left: 4.5vw">Pista A</label>
                <form id="firstform" method="POST">
                    <ul class="list-group">
                        {% for item in dias1 %}
                            {% set idx = dias1.index(item)%}
                            {% if item[1] == 'Libre' %}
                                <button type="submit" id="btn1" value={{idx}} name="btn1" class="list-group-item list-group-item-success list-group-item-action">{{item[0]}} - {{item[1]}}</button>
                            {% elif item[2] == False %}
                                <li class="list-group-item list-group-item-action disabled">{{item[0]}} - {{item[1]}}</li>
                            {% else %}
                                <li class="list-group-item list-group-item-action disabled">{{item[0]}} - {{item[1]}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <label for="secondform" class="display-4" style="margin-left: 4.5vw">Pista B</label>
                <form id="secondform" method="POST">
                    <ul class="list-group">
                        {% for item in dias2 %}
                            {% set idx = dias2.index(item)%}
                            {% if item[1] == 'Libre' %}
                                <button type="submit" id="btn2" value={{idx}} name="btn2" class="list-group-item list-group-item-success list-group-item-action">{{item[0]}} - {{item[1]}}</button>
                            {% elif item[2] == False %}
                                <li class="list-group-item list-group-item-action disabled">{{item[0]}} - {{item[1]}}</li>
                            {% else %}
                                <li class="list-group-item list-group-item-action disabled">{{item[0]}} - {{item[1]}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <form method="POST">
                <button type="submit" id="gbbtn" name="gbbtn" value="goback" class="btn btn-primary btn-lg">Volver</button>
            </form>
        </div>
        <br/>
        <div class="col-sm">
            <form method="POST" class="d-flex justify-content-center">
                <button type="submit" id="cbtn1" name="cbtn1" value="cancel" class="btn btn-secondary btn-lg" style="margin-right: 5vw">Cancelar reservas pista 1</button>
                <button type="submit" id="cbtn2" name="cbtn2" value="cancel" class="btn btn-secondary btn-lg">Cancelar reserva pista 2</button>
            </form>
        </div>
        <br/>
        <br/>
    </div>
{% endblock %}