{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<form method="POST" >
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduzca su nombre">
    </div>
    <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" class="form-control" id="dni" name="dni" placeholder="Introduzca su dni">
    </div>
    <div class="form-group">
        <label for="piso">Piso:</label>
        <input type="text" class="form-control" id="piso" name="piso" placeholder="Portal, piso, puerta, ...">
    </div>
    <div class="form-group">
        <label for="psw1">Contrase&ntilde;a:</label>
        <input type="password" class="form-control" id="psw1" name="psw1" placeholder="Introduzca su contraseña">
    </div>
    <div class="form-group">
        <label for="psw2">Confirmacion contrase&ntilde;a:</label>
        <input type="password" class="form-control" id="psw2" name="psw2" placeholder="Repita la contraseña">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock %}