*{
  box-sizing: border-box;
}

:root {
  --font-color: #0f0f0f;
  --bg-color: #fefefe;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 100%;
  margin: 0;
}

h1 {
  color: var(--heading-color);
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

a:hover, a:focus {
  border-bottom: 3px solid currentColor;
}

section {
  max-width: 68%;
  margin: 0 auto;
}

.post-meta {
  font-size: 1rem;
  display: block;
  color: var(--secondary-color);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.styled-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Quicksand', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 22px 25px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.booked {
  color: red;
  text-align: center;
}
.hideBoxes {
  display: none;
  opacity: 100%;
  animation: opacityT1 1s;
}

.parent{
  white-space: nowrap;
}

.child {
  display: inline-block;
  margin-top: 30vh;
  margin-left: 21%;
}

#title{
  padding-top: 20px;
}

#buttonsForm #sbtn{
  margin-left: 5.5vw;
}

#secondTT{
  padding-top: 50px;
  padding-bottom: 50px;
}

.btnCalendar{
  padding: 5vw;
}

#buttonsFormTT .btnFS{
  font-size: 0.97rem;
}
#divbtndis1{
  position: relative;
  left: 0vw;
  animation: ktraslation1 1s;
}

#divbtndis2{
  position: relative;
  right: 0vw;
  animation: ktraslation2 1s;
}

#btnbacktt {
  margin-top: 100px;
  margin-left: 35vw;
  display: none;
}

@keyframes ktraslation1 {
  from {left: -50vw}
  to {left: 0vw}
}

@keyframes ktraslation2 {
  from {right: -50vw}
  to {right: 0vw}
}

@keyframes opacityT1 {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

#alert{
  display: none;
  text-align: center;
  padding-top: 10px;
}

